{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h2 class="text-2xl font-bold">{{ formation.title }}</h2>
        <hr/>

        <p>{{ formation.description }}</p>
    </div>
{% endblock %}
