{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ formation.title }}</h1>
        <p class="lead">{{ formation.description }}</p>
    </div>
</div>
<div class="container mx-auto">

    <p class="text-right font-italic">{{ formation.author }}</p>


</div>
{% endblock %}
