{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Formation</h1>
        <p class="lead">Here you can find all the formations written on this website</p>
    </div>
</div>
<div class="container">
    <div class="row">

        {% for formation in formations %}
            <a href="{{ path('formation_detail', { id: formation.id}) }}">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://picsum.photos/800/800" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ formation.title }}</h5>
                                <p class="card-text">{{ formation.description }}</p>
                                <p class="card-text"><small class="text-muted">{{ formation.createdAt | date('M Y') }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
</div>>
{% endblock %}
