{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Edit the lesson</h1>
        <p class="lead">Here you can edit the lesson</p>
    </div>
</div>
<div class="container mt-4">
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}
</div>
{% endblock %}
