.card{
    margin: 0px 5px 0px 5px;
}

.home-title{
    margin-bottom: 15px;
    margin-top: 15px;
}

footer{
    margin-top: 15px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}