{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">{{ lesson.title }}</h1>
        <p class="lead">{{ lesson.description }}</p>
    </div>
</div>
<div class="container mx-auto">

    <p class="text-right font-italic">{{ lesson.author }}</p>

    <p>{{ lesson.content }}</p>

</div>
{% endblock %}
